{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Lugungu Entertainment" content="width=device-width, initial-scale=1.0">
        <title>Lugungu Entertainment</title>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
    </head>
    <body>
        <div class="title">
            <h1>Galerij</h1>
        </div>
        <div class="text_header">
            <div><a href="https://youtube.com/@glodi.lugungu?si=xPF86Thql4lh6pVq">Youtube</a></div>
            <div><h2>Binnekort meer!</h2></div>
        </div> 
    </body>
</html>